<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/perfil" mode="ios" text="Atras" color="medium">
        </ion-back-button>
    </ion-buttons>
  <ion-title>Foto de perfil</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-card>
      <ion-card-content>
        <ion-row>
          <ion-col size="2"></ion-col>
          <ion-col size="8">
              <img [src]="linkFoto" alt="Foto de perfil" style="height: auto;width: auto;"/>
          </ion-col>
          <ion-col size="2"></ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    
  
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
            <ion-button (click)="galeria()" expand="block">
                <ion-icon name="image-outline"></ion-icon><p style="margin-left:10px;">Subir foto</p> 
            </ion-button>
            <ion-button (click)="camara()" expand="block">
                <ion-icon name="camera-outline"></ion-icon><p style="margin-left:10px;">Tomar foto</p>
            </ion-button>
            <ion-button (click)="eliminar()" expand="block">
                <ion-icon name="trash-outline"></ion-icon><p style="margin-left:10px;">Eliminar foto</p>
            </ion-button>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
</ion-content>




