<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login" mode="ios" text="Atras" color="medium">
      </ion-back-button>
  </ion-buttons>
<ion-title>Recuperacion de password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <form (ngSubmit)="guardar()" #form="ngForm" style="margin-top:20px;">
        <ion-label style="margin-left:10px;">Carnet de identidad</ion-label>
        <ion-item class="borde" style="margin-top:7px;">
          <ion-input type="number" placeholder="Carnet de identidad"  [disabled]="bloquear" [(ngModel)]="data.carnet" name="carnet" required></ion-input>
        </ion-item>
        <br>
        <ion-button expand="block" (click)="enviarCodigo()" [disabled]="bloquear">Enviar Codigo</ion-button>
        <br>
        <ion-label style="margin-left:10px;">Codigo de verificacion</ion-label>
        <ion-item class="borde" style="margin-top:7px;">
          <ion-input type="text" placeholder="Codigo de verificacion" [disabled]="!bloquear" [(ngModel)]="data.codigo_reset" name="codigo_reset" required></ion-input>
        </ion-item>
        <br>
        <ion-button type="submit" expand="block" [disabled]="form.invalid || !bloquear">Reestablecer password</ion-button>
      </form>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>
</ion-content>
