<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/login" mode="ios" text="Atras" color="medium">
        </ion-back-button>
    </ion-buttons>
  <ion-title>Registro proveedor</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding">
  <ion-card class="welcome-card">
      <img src="/assets/EN-ML-icon.jpg" alt="logo" />
    </ion-card>
<div>

  <div class="ion-padding-horizontal ion-text-center">
    <h2 ion-text>
      <strong>Registro de Proveedor</strong>
    </h2>
  </div>

  <form #form="ngForm" (ngSubmit)="goNext()">
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <ion-label>Nombre</ion-label>
        <ion-input type="text" placeholder="Nombre" class="borde" [(ngModel)]="proveedor.nombre" name="nombre" required></ion-input>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <ion-label>Apellidos</ion-label>
        <ion-input type="text" placeholder="Apellidos" class="borde" [(ngModel)]="proveedor.apellidos" name="apellidos" required>
        </ion-input>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    
    
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <ion-label>Carnet</ion-label>
        <ion-input type="number" placeholder="Carnet" class="borde" [(ngModel)]="proveedor.carnet" name="carnet" required></ion-input>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <ion-label>Correo</ion-label>
        <ion-input type="email" placeholder="Correo" class="borde" [(ngModel)]="proveedor.correo" name="correo" required></ion-input>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <ion-label>Fecha de nacimiento</ion-label>
        <ion-input type="date" placeholder="Nacimiento" class="borde" [(ngModel)]="proveedor.fecha_nacimiento" name="fecha_nacimiento"
          required></ion-input>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <ion-label>Telefono</ion-label>
        <ion-input type="number" placeholder="Telefono" class="borde" [(ngModel)]="proveedor.telefono" name="telefono" required>
        </ion-input>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <ion-label>Password</ion-label>
        <ion-item class="borde">
            <ion-input type={{passtype}} placeholder="Password" [(ngModel)]="proveedor.password" name="password" required></ion-input>
            <ion-button item-right round (click)="seepass()">
              <ion-icon name={{passicon}}></ion-icon>
            </ion-button> 
        </ion-item>
        <div id="rules" *ngIf="cerrarRules">
            <ion-icon name="close-outline" id="close" (click)="cerrar()"></ion-icon>
            <p id="space">
                Debe tener al menos:
              </p>
              <ul id="space">
                <li>10 caracters.</li>
                <li>1 mayuscula.</li>
                <li>1 minuscula.</li>
                <li>1 numero.</li>
                <li>1 caracter especial.</li>
                (@$!%*?&)
              </ul>
        </div>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
 

        <div class="ion-margin-top ion-text-center">
          <ion-button shape="round" class="border" color="primary" type="submit" [disabled]="form.invalid" expand="block">
              Registrar
          </ion-button>
        </div>
  </form>

  
</div>
</ion-content>

