<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/negocios-qr" mode="ios" text="Atras" color="medium">
        </ion-back-button>
    </ion-buttons>
  <ion-title>Codigo QR negocio</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <br>
  <ion-row>
    <ion-col size="3"></ion-col>
    <ion-col size="6">
        <ion-card class="borde">
            <ngx-qrcode
            id="code" 
            [qrc-element-type]="elementType" 
            [qrc-value] = "qrData"
            qrc-errorCorrectionLevel = "L"
            >
          </ngx-qrcode>
        </ion-card>
    </ion-col>
    <ion-col size="3"></ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="2"></ion-col>
    <ion-col size="8">
      <ion-button (click)="save()" expand="block">
        <ion-icon name="cloud-download-outline" style="margin-right:5px;"></ion-icon>
        Guardar
      </ion-button>
    </ion-col>
    <ion-col size="2"></ion-col>
  </ion-row>
  
</ion-content>
