<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="ruta" mode="ios" text="Atras" color="medium">
      </ion-back-button>
  </ion-buttons>
<ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-list>
      <ion-item class=“item-borderless”>
          <ion-label>Editar</ion-label>
          <ion-toggle slot="start" name="editar" color="secondary" mode="ios" (ionChange)="editar()"></ion-toggle>
      </ion-item>
  </ion-list>

  <form (ngSubmit)="Actualizar()" #form="ngForm" style="margin-top:20px;">
    <ion-label style="margin-left:10px;">Nombre</ion-label>
    <ion-item>
      <ion-input type="text" placeholder="Nombre" [(ngModel)]="estudiante.nombre" name="nombre" [disabled]="habilitar" required></ion-input>
    </ion-item>
    <br>
    <ion-label style="margin-left:10px;">Apellidos</ion-label>
    <ion-item>
      <ion-input type="text" placeholder="Apellidos" [(ngModel)]="estudiante.apellidos" name="apellidos" [disabled]="habilitar" required></ion-input>
    </ion-item>
    <br>
    <ion-label style="margin-left:10px;">Carnet</ion-label>
    <ion-item>
      <ion-input type="number" placeholder="Carnet" [(ngModel)]="estudiante.carnet" name="carnet" disabled=true required></ion-input>
    </ion-item>
    <br>
    <ion-label style="margin-left:10px;">Correo</ion-label>
    <ion-item>
      <ion-input type="email" placeholder="Correo" [(ngModel)]="estudiante.correo" name="correo" [disabled]="habilitar" required></ion-input>
    </ion-item>
    <br>
    <ion-label style="margin-left:10px;">Telefono</ion-label>
    <ion-item>
      <ion-input type="number" placeholder="Telefono" [(ngModel)]="estudiante.telefono" name="telefono" [disabled]="habilitar" required></ion-input>
    </ion-item>
    <br>
    <ion-label style="margin-left:10px;">Fecha de Nacimiento</ion-label>
    <ion-item>
      <ion-input type="date" placeholder="Fecha de Nacimiento" [value]="estudiante.fecha_nacimiento | date:'yyyy-MM-dd'"  name="fecha_nacimiento" [disabled]="habilitar" required></ion-input>
    </ion-item>
    <br>
    <ion-button type="submit" expand="block" [disabled]="form.invalid || habilitar">Actualizar datos</ion-button>
  </form>
  <ion-button type="button" expand="block" (click)="cambiarPass()">Cambiar password</ion-button>
  <ion-button type="button" expand="block" (click)="cambiarFoto()">Cambiar foto de perfil</ion-button>
</ion-content>
