<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/gestiones" mode="ios" text="Atras" color="medium">
            </ion-back-button>
        </ion-buttons>
      <ion-title style="margin-left:20px;">Mensualidades Pagadas</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>

    <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <h3>Gestion: {{gestion.semestre}} {{gestion.ano}}</h3>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>

      <ion-list *ngIf="cantidad!=0">
          <ion-item *ngFor="let m of mensualidades">
              <ion-label>
                <h2><strong>Nombre:</strong> {{m.nombre}}</h2>
                <h3><strong>Fecha limite de pago:</strong> {{m.fecha_pago}}</h3>
                <h3><strong>Fecha del pago:</strong> {{m.fecha}}</h3>
                <p><strong>Monto:</strong> {{m.monto}} Bs.</p>
                <p><strong>Multa:</strong> {{m.multa}} Bs.</p>
              </ion-label>
              <ion-icon name="checkmark-circle-outline" slot="end"></ion-icon>
            </ion-item>
      </ion-list>
  
    
      <ion-text color="danger" *ngIf="cantidad==0">
          <h4 >No hay mensualidades pagadas en esta gestion.</h4>
        </ion-text>
  
</ion-content>
