hr {
    border: 1px solid black !important;
    height: 0.2px !important;
    width: 300px !important;
    background: black !important;
    display: block !important;
    font-size: 2em !important;
    opacity: 1 !important;
    visibility: visible !important;
  }

  .borde{
    border-style: solid;
    border-color: #0275d8;
    border-radius: 5px;
    border-width: 1px;
}