<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/mensualidades" mode="ios" text="Atras" color="medium">
            </ion-back-button>
        </ion-buttons>
      <ion-title style="margin-left:20px;">Pagar mensualidad</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>

    <form (ngSubmit)="pagar()" #form="ngForm">
    <ion-card>
        <ion-card-header>
          <ion-card-title><h1><strong>Datos de la mensualidad</strong></h1></ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p><strong>Nombre:</strong> {{mensualidad.nombre}}</p>
          <p><strong>fecha de pago:</strong> {{mensualidad.fecha_pago}}</p>

          <ion-row>
            <ion-col size="8">
              <strong>Monto:</strong>
            </ion-col>
            <ion-col size="4">
              <strong>{{mensualidad.monto}} Bs.</strong>
            </ion-col>
          </ion-row>

          <ion-row>
              <ion-col size="8">
                <strong>Dias de multa:</strong>
              </ion-col>
              <ion-col size="4">
                <strong>{{diasMulta}} dias</strong>
              </ion-col>
              <ion-col size="8">
                  <strong>Multa por dia:</strong>
                </ion-col>
                <ion-col size="4">
                  <strong>0.20 Bs.</strong>
                </ion-col>
                <ion-col size="8">
                    <strong>Multa total:</strong>
                  </ion-col>
                  <ion-col size="4">
                    <strong>{{multa}} Bs.</strong>
                  </ion-col>
            </ion-row>
          
          <hr>
          <ion-row>
              <ion-col size="8">
                <strong>Total a pagar:</strong>
              </ion-col>
              <ion-col size="4">
                <strong>{{total}} Bs.</strong>
              </ion-col>
            </ion-row>
        </ion-card-content>
      </ion-card>

      <br>
      <ion-row>
          <ion-col size="1"></ion-col>
        <ion-col size="5">
            <label>Generar codigo de pago</label>
            <ion-toggle color="primary" (ionChange)="generarCodigo()" [checked]="checkedToggle"></ion-toggle>
        </ion-col>
        <ion-col size="1"></ion-col>
        <ion-col size="3">
            <ion-input type="number" [value]="codigo"  style="margin-top:7px;" disabled=true></ion-input>
        </ion-col>
        <ion-col size="2"></ion-col>
      </ion-row>
      <br>
      <ion-row>
          <ion-col size="1"></ion-col>
        <ion-col size="5">
            <label>Ingrese codigo de pago</label>
        </ion-col>
        <ion-col size="1"></ion-col>
        <ion-col size="3">
            <ion-input type="number" placeholder="codigo"  style="margin-top:1px;" class="borde" name="codigo" [(ngModel)]="codigoIngresado" required></ion-input> <!---->
        </ion-col>
        <ion-col size="2"></ion-col>
      </ion-row>

      <br>
      <ion-row>
          <ion-col size="1"></ion-col>
          <ion-col size="10">
              <ion-button type="submit" expand="block" [disabled]="form.invalid">
                  Pagar mensualidad
                </ion-button>
          </ion-col>
          <ion-col size="1">
            
          </ion-col>
        </ion-row>
      </form>
</ion-content>
