<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu-estudiante" mode="ios" text="Atras" color="medium">
      </ion-back-button>
  </ion-buttons>
<ion-title>Mensualidades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item (click)="nueva()" detail>
    <ion-label>Pagar una nueva</ion-label>
  </ion-item>
  <ion-item (click)="pagadas()" detail>
    <ion-label>Pagadas</ion-label>
  </ion-item>
</ion-list>
</ion-content>
