<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tipo-mensualidad" mode="ios" text="Atras" color="medium">
            </ion-back-button>
        </ion-buttons>
      <ion-title style="margin-left:20px;">Gestiones</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>

    <ion-list *ngIf="cantidad!=0">
        <ion-item *ngFor="let g of gestiones" (click)="irMensualidades(g)" detail>
            <ion-label>
              <h2>{{g.semestre}} {{g.ano}}</h2>
            </ion-label>
          </ion-item>
    </ion-list>

  
    <ion-text color="danger" *ngIf="cantidad==0">
        <h4 >No hay gestiones en la billetera movil.</h4>
      </ion-text>

</ion-content>
