<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/negocios-pago" mode="ios" text="Atras" color="medium">
        </ion-back-button>
    </ion-buttons>
  <ion-title>Detalles Pago</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
          <ion-card-title><h1><strong>Datos del Negocio</strong></h1></ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p><strong>Dueño:</strong> {{datosNegocio.nombre}} {{datosNegocio.apellidos}}</p>
          <p><strong>Negocio:</strong> {{datosNegocio.nombre_negocio}}</p>
          <p><strong>Detalle:</strong> {{datosNegocio.descripcion}}</p>
          <p><strong>Telefono:</strong> {{datosNegocio.telefono}}</p>
        </ion-card-content>
      </ion-card>
      
      <form (ngSubmit)="pagar()" #form="ngForm">
      <ion-row>
          <ion-col size="1"></ion-col>
        <ion-col size="10">
          <label>Monto:</label>
          <ion-input type="number" placeholder="0.0 Bs." class="borde" style="margin-top:7px;" [(ngModel)]="pago.monto" name="monto" required></ion-input>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
      
      <ion-row>
          <ion-col size="1"></ion-col>
        <ion-col size="10">
            <ion-button type="submit" expand="block" [disabled]="form.invalid">
                Pagar
              </ion-button>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
    </form>
</ion-content>
