<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" menu="first">

      </ion-menu-button>
    </ion-buttons>
    <ion-title>Menu Estudiante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Actualizando...">
        </ion-refresher-content>
      </ion-refresher>

      

      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
            <ion-chip (click)="irPerfil()">
              <ion-avatar>
                <img [src]=linkFoto>
              </ion-avatar>
              <ion-label><strong>Usuario: </strong>{{estudiante.nombre}} {{estudiante.apellidos}}</ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>
      </ion-grid>

  

  <ion-card>
    <ion-card-header>
      <ion-card-title>Tu saldo es:</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="saldo">
      <strong>{{saldo}} Bs. </strong>
    </ion-card-content>

    <ion-row class="cardfooter" style="margin-top:-30px;">
      <ion-col>
        <ion-button (click)="refreshSaldo()" style="float:right;" fill="clear">
          <ion-icon name="refresh-outline" size="small"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    
  </ion-card>

   <ion-grid fixed>
     <ion-row>
       <ion-col size="6">
        <ion-button color="primary" expand="block" class="boton-menu" (click)="irPagos()">
          <strong>
            <ion-icon name="cash-outline"></ion-icon>
            <br>Pagos
          </strong>
        </ion-button>
       </ion-col>
       <ion-col size="6">
        <ion-button color="primary" expand="block" class="boton-menu" (click)="irTransferencia()">
          <strong>
            <ion-icon name="repeat-outline"></ion-icon>
            <br>Transferencia<br>Saldo
          </strong>
        </ion-button>
       </ion-col>
     </ion-row>

     <ion-row>
        <ion-col size="6">
         <ion-button color="primary" expand="block" class="boton-menu" (click)="irMovimientos()">
           <strong>
            <ion-icon name="swap-vertical-outline"></ion-icon>
             <br>Movimientos
           </strong>
         </ion-button>
        </ion-col>
        <ion-col size="6">
         <ion-button color="primary" expand="block" class="boton-menu" (click)="irServicios()">
           <strong>
            <ion-icon name="newspaper-outline"></ion-icon>
             <br>Servicios
           </strong>
         </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
          <ion-col size="6">
           <ion-button color="primary" expand="block" class="boton-menu" (click)="irMensualidades()">
             <strong>
               <ion-icon name="today-outline"></ion-icon>
               <br>Mensualidades
             </strong>
           </ion-button>
          </ion-col>
        </ion-row>
   </ion-grid> 
</ion-content>
