<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/menu-proveedor" mode="ios" text="Atras" color="medium">
        </ion-back-button>
    </ion-buttons>
  <ion-title>Mis negocios</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Actualizando...">
        </ion-refresher-content>
      </ion-refresher>

    <ion-list *ngIf="cantidad>0">
        <ion-item *ngFor="let n of negocios" (click)="verPerfil(n)" detail> <!--solo afiliados pueden ver su perfil-->
          <ion-label>{{n.nombre}}</ion-label>
          <ion-badge color="success" *ngIf="n.estado_afiliacion=='Aceptado'">Afiliado</ion-badge>
          <ion-badge color="secondary" *ngIf="n.estado_afiliacion=='Pendiente'">Pendiente</ion-badge>
          <ion-badge color="danger" *ngIf="n.estado_afiliacion=='Rechazado'">Rechazado</ion-badge>
          <!--<ion-badge color="danger">Rechazado</ion-badge>-->
        </ion-item>
      </ion-list>
    <ion-text color="danger" *ngIf="cantidad==0">
      <h3>No hay negocios registrados</h3>
    </ion-text>
</ion-content>
