<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu-proveedor" mode="ios" text="Atras" color="medium">
      </ion-back-button>
  </ion-buttons>
<ion-title>Mis cuentas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let cuenta of cuentas; let i=index" (click)="irTipoMovimiento(cuenta.numero_cuenta)" detail>
      <ion-label>
          <h2>{{i+1}}</h2>
          <h2><strong>Numero de cuenta:</strong> {{cuenta.numero_cuenta}}</h2>
          <h2><strong>Saldo:</strong> {{cuenta.saldo}} Bs.</h2>
      </ion-label>
    </ion-item>
  </ion-list>
  <!--<ion-text color="danger" *ngIf="cantidad==0">
    <h1>Usted no tiene cuentas.</h1>
  </ion-text>-->
</ion-content>
