<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/gestiones" mode="ios" text="Atras" color="medium">
            </ion-back-button>
        </ion-buttons>
      <ion-title style="margin-left:20px;">Mensualidades</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>

    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <h3>Gestion: {{gestion.semestre}} {{gestion.ano}}</h3>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>  

    <ion-list *ngIf="cantidad!=0">
        <ion-item *ngFor="let m of mensualidades" (click)="pagar(m)" detail>
            <ion-icon name="today-outline" slot="start"></ion-icon>
            <ion-label>
              <h2><strong>Nombre:</strong> {{m.nombre}}</h2>
              <h3><strong>Fecha limite de pago:</strong> {{m.fecha_pago}}</h3>
              <p><strong>Monto:</strong> {{m.monto}} Bs.</p>
            </ion-label>
          </ion-item>
    </ion-list>

  
    <ion-text color="danger" *ngIf="cantidad==0">
        <h4 >No hay mensualidades para pagar.</h4>
      </ion-text>

</ion-content>
