<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" menu="first">

      </ion-menu-button>
    </ion-buttons>
    <ion-title>Menu Proveedor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Actualizando...">
        </ion-refresher-content>
      </ion-refresher>

      

      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
            <ion-chip (click)="irPerfil()">
              <ion-avatar>
                <img [src]="linkFoto">
              </ion-avatar>
              <ion-label><strong>Usuario: </strong>{{proveedor.nombre}} {{proveedor.apellidos}}</ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>
      </ion-grid>

  

  <ion-card>
    <ion-card-header>
      <ion-card-title>Total recaudado:</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="saldo">
      <strong>{{saldo}} Bs. </strong>
    </ion-card-content>

    <ion-row class="cardfooter" style="margin-top:-30px;">
      <ion-col>
        <ion-button (click)="refreshSaldo()" style="float:right;" fill="clear">
          <ion-icon name="refresh-outline" size="small"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>

   <ion-grid fixed>
     <ion-row>
       <ion-col size="6">
        <ion-button color="primary" expand="block" class="boton-menu" (click)="irCuentas()">
          <strong>
            <ion-icon name="card-outline"></ion-icon>
            <br>cuentas
          </strong>
        </ion-button>
       </ion-col>
       <ion-col size="6">
        <ion-button color="primary" expand="block" class="boton-menu" (click)="irCodigoQr()">
          <strong>
            <ion-icon name="qr-code-outline"></ion-icon>
            <br>Codigo<br>QR
          </strong>
        </ion-button>
       </ion-col>
     </ion-row>

     <ion-row>
        <ion-col size="6">
         <ion-button color="primary" expand="block" class="boton-menu" (click)="irAfiliacion()">
           <strong>
            <ion-icon name="person-add-outline"></ion-icon>
             <br>Afiliacion<br>Negocio
           </strong>
         </ion-button>
        </ion-col>
        <ion-col size="6">
         <ion-button color="primary" expand="block" class="boton-menu" (click)="irMisNegocios()">
           <strong>
            <ion-icon name="home-outline"></ion-icon>
             <br>Mis<br>Negocios
           </strong>
         </ion-button>
        </ion-col>
      </ion-row>

   </ion-grid> 
</ion-content>
