.saldo
{
    font-size: 40px;
    text-align: center;
}

.boton-menu
{
    height: 100px;
    font-size: 15px;
}

ion-icon {
    font-size: 40px;
  }

  ion-chip{
    width: 97%;
    height: 70px;
    font-size: 16px;
}
ion-avatar  {     
    width:50px !important;  
    height : 50px !important;  
    max-width: 100px !important;  //any size
    max-height: 100px !important; //any size 
    }