<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tipo-movimientos" mode="ios" text="Atras" color="medium">
        </ion-back-button>
    </ion-buttons>
  <ion-title>Movimientos</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-item *ngIf="cantidad!=0"><span slot="end">Al {{fecha}} {{hora}}</span></ion-item>
  <ion-list *ngIf="cantidad!=0 && tipoMovimiento=='de mi'">
      <ion-item *ngFor="let t of transaccions; let i = index">
        <ion-label>
          <h2>{{i+1}}</h2>
          <h3>Tipo de transaccion: {{t.tipo_transaccion}}</h3>
          <h3>Para: {{t.nombre_para}} {{t.apellidos_para}}</h3>
          <h3>Numero de cuenta: {{t.numero_cuenta_para}}</h3>
          <h3>Monto: <strong>{{t.monto}} Bs.</strong></h3>
          <p>Fecha: {{t.fecha | sumarFecha}}</p>
        </ion-label>
      </ion-item>
  </ion-list>

  <ion-list *ngIf="cantidad!=0 && tipoMovimiento=='para mi'">
      <ion-item *ngFor="let t of transaccions; let i = index">
        <ion-label>
          <h2>{{i+1}}</h2>
          <h3>Tipo de transaccion: {{t.tipo_transaccion}}</h3>
          <h3>De: {{t.nombre_de}} {{t.apellidos_de}}</h3>
          <h3>Numero de cuenta: {{t.numero_cuenta_de}}</h3>
          <h3>Monto: <strong>{{t.monto}} Bs.</strong></h3>
          <p>Fecha: {{t.fecha | sumarFecha}}</p>
        </ion-label>
      </ion-item>
  </ion-list>

  <ion-text color="danger" *ngIf="cantidad==0">
      <h4 >Aun no realizo transacciones.</h4>
    </ion-text>
</ion-content>
