<title>Log In</title>
<ion-content class="ion-padding">
    <ion-card class="welcome-card">
        <img [src]="image" alt="logo" />
      </ion-card>
  <div>

    <div class="ion-padding-horizontal ion-text-center">
      <h2 ion-text>
        <strong>Inicio de Sesion <p id="timer"></p></strong>
      </h2>
    </div>

    <form #form="ngForm" (ngSubmit)="SignIn()">
      <ion-item>
        <ion-label floating>
            <ion-icon name="contact"></ion-icon>
        </ion-label>
        <ion-input type="number" placeholder="Carnet de Identidad" [(ngModel)]="login.carnet" name="carnet" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="lock"></ion-icon>
        </ion-label>
        <ion-input type={{passtype}} placeholder="Password" [(ngModel)]="login.password" name="password" required></ion-input>
        <ion-button item-right round (click)="seepass()">
          <ion-icon name={{passicon}}></ion-icon>
        </ion-button>
      </ion-item>
      <div class="ion-margin-top ion-text-center">
        <ion-button shape="round" class="border"  type="submit" [disabled]="form.invalid" expand="block">
          Ingresar
        </ion-button>
      </div>
    </form>

    

    <div class="ion-margin-top ion-text-center">
      <a [routerLink]="[ '/registro-proveedor']">Registro de Proveedor</a>
    </div>

    
      <div class="ion-margin-top ion-text-center">
        <a [routerLink]="['/reset-password']"><ins><strong>Recuperacion de password</strong></ins></a>
        </div>
  </div>
</ion-content>




