<ion-app>
    <ion-menu side="start" menuId="first" contentId="main">
        <ion-header>
          <ion-toolbar color="primary">
            <ion-title>Menu</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>

        <ion-item-divider>
          <img src="../assets/logo.png" width="200px;" height="200px;" style="margin-left:30px;">
        </ion-item-divider>

          <ion-list>
            <ion-item (click)="perfil()">
                <ion-icon  name="person-circle-outline"></ion-icon>
                <label style="margin-left:10px;">Perfil</label>
            </ion-item>
            <ion-item (click)="tema()">
              <ion-icon name="color-palette-outline"></ion-icon>
              <label style="margin-left:10px;">Tema</label>
          </ion-item>
            <ion-item (click)="salir()">
                <ion-icon  name="log-out-outline"></ion-icon>
                <label style="margin-left:10px;">Salir</label>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-menu>


  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
