.borde{
    border-style: solid;
    border-color: #0275d8;
    border-radius: 5px;
    border-width: 1px;
}
hr {
    height: 2px;
    background: #0275d8;
    display: block;
    opacity: 1;
    visibility: visible;
  }

  .boton-cerrar{
      background-color: white;
      float: right;
  }
  .talla {
    font-size: 32px;
  }