<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/menu-estudiante" mode="ios" text="Atras" color="medium">
        </ion-back-button>
    </ion-buttons>
  <ion-title>Transferencia</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <br>
  <form (ngSubmit)="transferir()" #form="ngForm">
  <ion-row>
      <ion-col size="1"></ion-col>
    <ion-col size="7">
      <label>Cuenta a transferir:</label>
      <ion-input type="number" placeholder="Numero de cuenta" class="borde" style="margin-top:7px;" [(ngModel)]="transferencia.numero_cuenta" [disabled]="disableCuenta" name="numero_cuenta" required></ion-input>
    </ion-col>
    <ion-col size="3">
      
      <ion-button (click)="mostrar()" style="margin-top:23px;height: 44px;">
          <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>

  <ion-card *ngIf="mostrarDatos">
      <!--<ion-button (click)="cerrar()" class="boton-cerrar">
          <ion-icon name="close-outline" class="talla"></ion-icon>
      </ion-button>-->
      <ion-card-header style="margin-top:-10px;">
        <ion-card-title>Datos de la cuenta</ion-card-title>
        <ion-card-subtitle>{{infoCuenta.numero_cuenta}}</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <p>Nombre: {{infoCuenta.nombre}} {{infoCuenta.apellidos}}</p>
        <p>Carnet: {{infoCuenta.carnet}}</p>
        <p>Correo: {{infoCuenta.correo}}</p>
        <p>Carrera: {{infoCuenta.nombre_carrera}}</p>
        <p>Telefono: {{infoCuenta.telefono}}</p>
      </ion-card-content>
    </ion-card>

    <ion-row *ngIf="mostrarDatos">
        <ion-col size="1"></ion-col>
      <ion-col size="10">
        <label>Monto:</label>
        <ion-input type="number" placeholder="Monto" class="borde" style="margin-top:7px;" [(ngModel)]="transferencia.monto" name="monto" required></ion-input>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

    <ion-row *ngIf="mostrarDatos">
        <ion-col size="1"></ion-col>
      <ion-col size="10">
        <hr>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

    <ion-row *ngIf="mostrarDatos">
        <ion-col size="1"></ion-col>
      <ion-col size="5">
          <label>Generar codigo de transferencia</label>
          <ion-toggle color="primary" (ionChange)="generarCodigo()" [checked]="checkedToggle"></ion-toggle>
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="3">
          <ion-input type="number" [value]="codigo"  style="margin-top:7px;" disabled=true></ion-input>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
    <br>
    <ion-row *ngIf="mostrarDatos">
        <ion-col size="1"></ion-col>
      <ion-col size="5">
          <label>Ingrese codigo de transferencia</label>
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="3">
          <ion-input type="number" placeholder="codigo"  style="margin-top:1px;" class="borde" [(ngModel)]="transferencia.codigo" name="codigo" required></ion-input>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>

    <ion-row *ngIf="mostrarDatos">
      <ion-col size="1"></ion-col>
      <ion-col size="10">
          <ion-button type="submit" expand="block" [disabled]="form.invalid">
              Transferir
            </ion-button>
      </ion-col>
      <ion-col size="1">
        
      </ion-col>
    </ion-row>
  </form>
</ion-content>
