<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/mis-negocios" mode="ios" text="Atras" color="medium">
      </ion-back-button>
  </ion-buttons>
<ion-title>Reintentar afiliacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <ion-label>¿Le gustaria reintentar mandar la solicitud de afiliacion para su negocios "{{negocio.nombre}}"?</ion-label>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <ion-button expand="block" color="primary" (click)="reintentar()">Reintentar afiliacion</ion-button>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>
</ion-content>
