<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/menu-proveedor" mode="ios" text="Atras" color="medium">
        </ion-back-button>
    </ion-buttons>
  <ion-title>Registro de negocio</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <br>
  <form (ngSubmit)="registrarNegocio()" #form="ngForm">
  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="10">
        <label>Nombre:</label>
        <ion-input type="text" placeholder="Nombre del negocio" class="borde" style="margin-top:7px;" [(ngModel)]="negocio.nombre" name="nombre" required></ion-input>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>
  <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
          <label>Descripcion:</label>
          <ion-textarea type="text" maxlength=50 placeholder="Descripcion del negocio" class="borde" style="margin-top:7px;" [(ngModel)]="negocio.descripcion" name="descripcion" required></ion-textarea>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="5">
            <label>Hora de apertura:</label>
            <ion-datetime display-format="HH:mm" picker-format="HH:mm" value="08:30" class="borde" style="margin-top:7px;" [(ngModel)]="negocio.hora_inicio" name="hora_inicio" required></ion-datetime>
        </ion-col>
        <ion-col size="5">
            <label>Hora de cierre:</label>
            <ion-datetime display-format="HH:mm" picker-format="HH:mm" value="08:30" class="borde" style="margin-top:7px;" [(ngModel)]="negocio.hora_fin" name="hora_fin" required></ion-datetime>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
      <ion-row >
          <ion-col size="1"></ion-col>
          <ion-col size="10">
              <ion-button type="submit" expand="block" [disabled]="form.invalid">
                  Registrar negocio
                </ion-button>
          </ion-col>
          <ion-col size="1">
          </ion-col>
        </ion-row>
    </form>
</ion-content>
