<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button [defaultHref]="ruta" mode="ios" text="Atras" color="medium">
        </ion-back-button>
    </ion-buttons>
  <ion-title>Tipo de movimientos</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-list>
    <ion-item (click)="deMi()" detail>
      <ion-label>Hechas por mi</ion-label>
    </ion-item>
    <ion-item (click)="paraMi()" detail>
      <ion-label>Realizadas para mi</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
