<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="ruta" mode="ios" text="Atras" color="medium">
      </ion-back-button>
  </ion-buttons>
<ion-title>Cambio de password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="10">
        <form (ngSubmit)="cambiar()" #form="ngForm" style="margin-top:20px;">
            <ion-label style="margin-left:10px;">Nueva password</ion-label>
            <ion-item class="borde" style="margin-top:7px;">
              <ion-input [type]="passtype1" placeholder="Nueva password" [(ngModel)]="data.pass1" name="pass1" required></ion-input>
              <ion-button item-right round (click)="seepass1()">
                  <ion-icon name={{passicon1}}></ion-icon>
                </ion-button>
            </ion-item>
            <br>
            <ion-label style="margin-left:10px;">Repita password</ion-label>
            <ion-item class="borde" style="margin-top:7px;">
              <ion-input [type]="passtype2" placeholder="Repita password" [(ngModel)]="data.pass2" name="pass2" required></ion-input>
              <ion-button item-right round (click)="seepass2()">
                  <ion-icon name={{passicon2}}></ion-icon>
                </ion-button>
            </ion-item>

            <div id="rules" *ngIf="cerrarRules">
                <ion-icon name="close-outline" id="close" (click)="cerrar()"></ion-icon>
                <p id="space">
                    Debe tener al menos:
                  </p>
                  <ul id="space">
                    <li>10 caracters.</li>
                    <li>1 mayuscula.</li>
                    <li>1 minuscula.</li>
                    <li>1 numero.</li>
                    <li>1 caracter especial.</li>
                    (@$!%*?&)
                  </ul>
            </div>
            <br>
            <ion-button type="submit" expand="block" [disabled]="form.invalid">Cambiar password</ion-button>
          </form>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>
</ion-content>
