.borde{
    border-style: solid;
    border-color: #0275d8;
    border-radius: 5px;
    border-width: 1px;
}

#rules{
    margin-top: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: #CCE5FF;
    color: #004090;
    background-color: #CCE5FF;
    
}
#space{
    margin-left:20px;
}
#close{
    float: right;
    margin-top: 2px;
    margin-right: 2px;
}