<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="ruta" mode="ios" text="Atras" color="medium">
      </ion-back-button>
  </ion-buttons>
<ion-title>Tema de la aplicacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  
  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <ion-button (click)="cambiarTema()" expand="block">
        <ion-icon slot="start" name="moon"></ion-icon> Modo oscuro
      </ion-button>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>
</ion-content>
