<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/menu-estudiante" mode="ios" text="Atras" color="medium">
        </ion-back-button>
    </ion-buttons>
  <ion-title>Negocios</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-list *ngIf="cantidad!=0">
        <ion-item *ngFor="let negocio of negocios" (click)="irCamara(negocio.negocio_id,negocio.nombre_negocio)" detail>
            <ion-avatar slot="start">
              <img src="../../../assets/userDefault.png">
            </ion-avatar>
            <ion-label>
              <h2>{{negocio.nombre_negocio}}</h2>
            </ion-label>
          </ion-item>
    </ion-list>
  
    <ion-text color="danger" *ngIf="cantidad==0">
        <h4 >No hay negocios en la billetera movil.</h4>
      </ion-text>
</ion-content>
